<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ness.android.widget"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="16"/>

    <application
            android:allowBackup="true"
            android:debuggable="true"
            android:label="Ness Recommendations"
            android:icon="@drawable/ness_icon">

        //the AppWidgetProvider
        <receiver
                android:icon="@drawable/ness_icon"
                android:label="Ness Recommendations"
                android:name="WidgetProvider"
                android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ness.android.widget.REFRESH_ACTION"/>
                <action android:name="ness.android.widget.OPEN_BROWSER"/>
                <action android:name="ness.android.widget.AUTO_UPDATE"/>
                <action android:name="ness.android.widget.STOP_REFRESH"/>
                <action android:name="ness.android.widget.SET_EMPTY_LIST_TEXT"/>
                <action android:name="ness.android.widget.SET_NO_LOCATION_TEXT"/>
                <action android:name="ness.android.widget.SET_NO_CONNECTION_TEXT"/>
            </intent-filter>

            //specifies the widget provider info
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info"/>

        </receiver>


        //the service gets data and serves the RemoteViews to the collection widget
        <service
                android:name=".UpdateWidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"
                android:exported="false"/>

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
