<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ness.android.widget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true">

        <receiver
                android:icon="@drawable/ic_launcher"
                android:label="A Ness Widget"
                android:name="WidgetProvider">

                <intent-filter>
                        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                        <action android:name="ness.android.widget.REFRESH_BUTTON" />
                </intent-filter>

                <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info"    />

            </receiver>

        <service android:name=".UpdateWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" ></service>

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
